ws-producer/src/main/webapp/wsdl/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://nl.hu.fnt/Opdracht1/request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="postcodeRequest" type="req:postcodeRequestType" xmlns:req="http://nl.hu.fnt/Opdracht1/request"/>
  <xs:complexType name="postcodeRequestType">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element name="postcode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[1-9][0-9]{3}[A-Z]{2}"/>       <!--Dit zorgt er voor dat de String zich aan de postcode formaat moet houden-->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>